.footerContainer {
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  background: #222;
  /* Dark background */
  color: #f8f9fa;
  /* Light text */
  font-size: 14px;
  border-top: 3px solid #17a2b8;
  /* Stylish border */
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.footerContainer:hover {
  background: #333;
  /* Slightly lighter on hover */
}

.brand {
  font-weight: bold;
  color: #17a2b8;
  /* Highlighted brand color */
}